
  html,
  body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }
    
  .col-xs-3 {
    padding-right: 0px;
  }
  
  .row {
    height: 100%;
    
  }

  input {
    font-size: 12px;
  }

  h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
  }
  
  #no-style,
  #map-style,  
  #hide-layer,    
  #traffic-layer,
  #hide-listings,
  #show-listings {
    width: 48%;
    margin-left: 1px;
  }
  
  hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
  }

  #map {
    height: 100%;
  }

  .options-box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    text-align: left;
  }

  #pano {
    width: 200px;
    height: 200px;
  }

  #places-search,
  #search-within-time-text {
    width: 84%;
  }
  
  #right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
  }

  #right-panel select, #right-panel input {
    font-size: 15px;
  }

  #right-panel select {
    width: 100%;
  }

  #right-panel i {
    font-size: 12px;
  }
  #right-panel {
    height: auto;
    padding-left: 0;
  }

  .text {
    font-size: 12px;
  }

  #toggle-drawing {
    width: 48%;
    position: relative;
    margin-left: 1px;
  }

  #zoom-to-area-text {
    width: 70%;
  }

  #zoom-to-area {
    width: 24%;
  }
